/*
**
**
*/


#footer {
  background-color: #01579B;
  color: #ffffff;
}

// Taille du footer
  // Version mobile à 1 page du footer
@if $pLw <= $c2w {
  
  @media (max-width: $pLw) {
    #footer {
      .compat-pageWrapper:nth-child(n+2) {
        position: absolute;
        right: 10000px;
      }
    }
  }
  // Version à 2 page du footer landscape mode
  @media (min-width: $pLw + 1) and (max-width: $c2w) {
    #footer {
      .compat-pageWrapper:nth-child(n+3) {
        position: absolute;
        right: 10000px;
      }
    }
  }
}@else {
  // Version mobile à 1 page du footer
  @media (max-width: $c2w) {
    #footer {
      .compat-pageWrapper:nth-child(n+2) {
        position: absolute;
        right: 10000px;
      }
    }
  }
}
  // Version à 2 page du footer portrait mode
@media (min-width: $c2w + 1) and (max-width: $c3w) {
  #footer {
    .compat-pageWrapper:nth-child(n+3) {
      position: absolute;
      right: 10000px;
    }
  }
}
  // Version à 3 page du footer
@media (min-width: $c3w + 1) and (max-width: $c4w) {
  #footer {
    .compat-pageWrapper:nth-child(n+4) {
      position: absolute;
      right: 10000px;
    }
  }
}
  // Version à 4 page du footer
@media (min-width: $c4w + 1) {
  // Sweet nothing
}























