/*
**
**
*/


#banner {
  background-color: #0277BD;
  color: #ffffff;
}

  // Le mockup est masqué en dessous de c3w
@media (max-width: $c3w) {
  #compat-mockPageWrapper{
    position: absolute;
    right: 10000px;
  }
}
  // Dimensionne le mockup
@media (min-width: $c3w +1) {
  .compat-mockWrapper {
    margin-top: 1/2 * $sh;
    margin-right: auto;
    margin-left: auto;
    max-width: 300px;
  }
}



  // le background-color ne s'applique pas au CTA si 1 col
@if $pLw <= $c2w {
  @media (max-width: $pLw) {
    #banner{
      background-color: #ffffff;
      color: #000000;
    }
    .compat-smallBanner {
      background-color: #0277BD;
      color: #ffffff;
    }
  }
} @else {
    @media (max-width: $c2w) {
    #banner{
      background-color: #ffffff;
      color: #000000;
    }
  }
}


  // quand 4 col --> centrer la banner



















