body.compat {
  overflow: visible;
}

#react-content.compat-react-content {
  position:inherit;
}

.compat-banner {
  width: 100%;
  height: 100vh;
}

.compat-feature {
  width: 30%;
  height: 80vh;
  float: left;
  .compat-feature-img {
  width: 50px;
  height: 50px;
 }
}

.compat-footer {
  display: inline-block;
  width: 100%;
  background-color: red;
}