/*
**
**
*/

  // espace entre la bannière et les features non necessaire si Section Header
#content {
  margin-top: 1/3 * $sh;
}

// Centre verticalement le texte des features
.compat-subPage {
    display: table;
  }
.compat-feature-content {
  display: table-cell;
  vertical-align: top;
}
    // La subpage qui contient le titre et les icones des features sont divisées en 2 parties égales
.compat-imgFeatWrapperCont{
  height: 3/5 * $sh; // mouef it scales with its content ...
  width: $sw;
  display: table;
}
.compat-feature-title {
  height: 2/5 * $sh;
  width: $sw;
  display: table;
}
.compat-imgFeatWrapperCont .compat-imgFeatWrapper, .compat-feature-title h3 {
  display: table-cell;
  vertical-align: middle; //middle ou top pour certains
}
.compat-feature-img {
  max-width: 145px; // si les img sont des carrés, mettre 150px
}

// Mode paysage 827
@media (min-width: $pLw + 1) and (max-width: $c2w) {
  
}


@media (min-width: $c2w + 1) and (max-width: $c3w) {
  .compat-feature:nth-child(odd) {    // IE8 < x
    margin-right: $cVS;
  }
}
@media (min-width: $c3w + 1) and (max-width: $c4w) {
  .compat-feature:nth-child(3n + 1), .compat-feature:nth-child(3n + 2)  {
    margin-right: $cVS;
  }
}
@media (min-width: $c4w + 1) {
  .compat-feature {
    margin-right: $cVS;
  }
  .compat-feature:nth-child(4n + 4) {
    margin-right: 0px;
  }
}















