/*
**
*/


fieldset {
  border: none;
  margin: 0 auto;
  padding-left: 0px;
  padding-right: 0px;
}


input[type="email"] {
  width: 1/2 * $sw;
  height: 1/7 * $sh;
  color: #000000;
  margin: 0 auto;
  border: none;
  font-size: 1.2em;
  padding: 0px;
}

input[type="submit"] {
  width: 1/2 * $sw;
  height: 1/7 * $sh;
  background-color: #ffffff;
  color: #000000;
  border-radius: 2px;
  border: none;
  font-size: 1.2em;
  margin: 0 auto;
  padding: 0px;
}
 

@media (min-width: $pPw +1) {
  input[type="submit"], input[type="email"]{
    width: 3/4 * $sw;
  }
}

// mode Landscape
@media (min-width: $pLw + 1) and (max-width: $c2w) {
  input[type="submit"], input[type="email"]{
    width: 3/4 * $sw;
  }
}

// rend le btn visible sur background-color blanc quand 1 col
@if $pLw <= $c2w {
  @media (max-width: $pLw) {
    input[type="submit"] {
      background-color: #0277BD;
      color: #ffffff;
    }
  }
}@else {
  @media (max-width: $c2w) {
    input[type="submit"] {
      background-color: #0277BD;
      color: #ffffff;
    }
  }
}




