$pageDim : 400px;

body.compat {
  overflow: visible;
}

#react-content {
  position:inherit;
  text-align: center;
}

#banner {
  background-image: url('/images/sky.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

#footer {
  background-color: #1a2127;
}

img {
  width: 75px;
  height: 75px;
}

.compat-wrapper {
  width: 100%;
}
.compat-container {
  width: 100%;
  margin: 0 auto;
  overflow:hidden;
  position: relative;
}
.compat-page {
  width: 100%;
  height: $pageDim * 2/3;
}
.sub-page {
    max-height: ($pageDim * 2/3) / 2;
}
.sub-page:nth-child(2) {
      margin-top: 30px;
}

.compat-feature:first-child {
    margin-top: 50px;
}


@media (min-width: $pageDim) {

  .compat-container {
     width: $pageDim;
  }
  .compat-page {
    width: $pageDim ;
    height: $pageDim / 2;
    margin-top: 50px;
  }
  .sub-page {
    max-height: ($pageDim - 50px) / 2;
  }

}


@media (min-width: 2 * $pageDim) {
  .compat-container {
     width: 2 * $pageDim;
  }
  .compat-page {
    width: (2/3 * $pageDim) - 50px;
    height: $pageDim - 50px;
    float: left;
    margin-top: 50px;
    margin-left: 50px;
    img {
      width: ($pageDim - 50px) / 3;
      height: ($pageDim - 50px) / 3;
    }
  }
  .sub-page {
      max-height: ($pageDim - 75px) / 2;
    }
  .sub-page:nth-child(2) {
    margin-top: 25px;
  }
}


@media (min-width: 3 * $pageDim) {

  .compat-container {
     width: 3 * $pageDim;
  }
  .compat-page {
    width: $pageDim - 50px;
    height: $pageDim - 50px;
    float: left;
    margin-top: 50px;
    margin-left: 50px;

  }
}