$pageDim : 400px;

body.compat {
  overflow: visible;
}

#react-content {
  position:inherit;
  text-align: center;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.25em;
}
h3 {
  font-size: 2em;
}
p {
  font-size: 1.2em;
}

#footer {
  background-color: #1a2127;
}

.compat-wrapper {
  width: 100%;
}
.compat-container {
  width: 100%;
  margin: 0 auto;
  overflow:hidden;
  position: relative;
}

.compat-page {
  width: 100%;
  height: 5/4 * $pageDim;
}

.sub-page {
  height: $pageDim * 5/8;
}



#banner {
  background-image: url('/images/sky.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 5/4 * $pageDim;
}

img {
    max-width: 100%;
    height: auto;
}

.compat-logoWrapper {
  max-width: 100px;
  margin: 0 auto;
}
.compat-imgFeatWrapper {
  margin: 0 auto;
  max-width: 100px;
}
.compat-mockWrapper {
  margin: 0 auto;
  max-width: 125px;
}


@media (orientation: landscape) {
  
  @media (min-width: $pageDim){
    .compat-page {
      width: $pageDim;
      margin: 0 auto;
    }
    .sub-page {
      float: left;
    }
    .compat-feature {
     .sub-page {
      float: left;
      width: $pageDim / 2 - $pageDim / 40;
     }
      .sub-page:first-child {
        margin-right: $pageDim / 20;
      }
    }
    .compat-Cta {
      .sub-page {
        float: none;
        margin: 0 auto;
        width: 2/3 * $pageDim;
      }
    }
    #banner {
      background-size: 100% $pageDim * 6/7;
    }
    .compat-imgFeatWrapper {
      max-width: 75px;
    }
    .compat-mockWrapper {
      max-width: 150px;
    }
  }
  
  @media (min-width: 2 * $pageDim) {
    .compat-container {
      width: 2 * $pageDim;
    }
    .compat-page {
      width: 2/3 * $pageDim ;
      float: left;
      margin-top: 30px;
    }
    
    .compat-feature {
      width: 2/3 * $pageDim - $pageDim * 2/15;
     .sub-page {
      float: none;
      width: 100%;
     }
      .sub-page:first-child {
        margin-right: 0px;
      }
    }
    .compat-feature:first-child,.compat-feature:nth-child(2),.compat-feature:nth-child(4),.compat-feature:nth-child(5) {
        margin-right: $pageDim / 5;
      }
    .sub-page {
      float: none;
      width: 100%;
    }
    #banner {
      background-size: cover;
    }
    .compat-imgFeatWrapper {
      max-width: 75px;
    }
    .compat-mockWrapper {
      position: relative;
      top: 260px;
    }
  }
  
  @media (min-width: 3 * $pageDim) {

    .compat-container {
       width: 3 * $pageDim;
    }
    .compat-page {
      width: $pageDim;
      float: left;
    }
    .compat-feature {
      width: $pageDim * 13/15;
    }
    .compat-feature:first-child,.compat-feature:nth-child(2),.compat-feature:nth-child(4),.compat-feature:nth-child(5) {
        margin-right: $pageDim / 5;
    }
    .compat-mockWrapper {
      max-width: 250px;
      top: 130px;
    }
  }
  
  @media (min-width: 4 * $pageDim) {
    .compat-container {
       width: 4 * $pageDim;
    }
    .compat-page {
      width: 4/3 * $pageDim;
      float: left;
      margin-top: 30px;
    }
    .compat-feature {
      width: 7/6 * $pageDim;
    }
    .compat-feature:first-child,.compat-feature:nth-child(2),.compat-feature:nth-child(4),.compat-feature:nth-child(5) {
        margin-right: $pageDim / 4;
      color: red;
    }
  }
}

/**************************************************************************/

@media (orientation: portrait){
  @media (min-width: $pageDim){
    .compat-container {
       width: $pageDim;
    }
    .compat-page {
      width: $pageDim ;
    }
    .compat-mockWrapper {
      max-width: $pageDim / 2;
  }
    
}
  
  @media (min-width: 2 * $pageDim) {
    .compat-container {
       width: 2 * $pageDim;
    }
    .compat-page {
      width: $pageDim;
      float: left;
      margin-top: 50px;
    }
    .compat-feature {
      width: 9/10 * $pageDim;
    }
    .compat-feature:first-child,.compat-feature:nth-child(2),.compat-feature:nth-child(4),.compat-feature:nth-child(5) {
      margin-right: $pageDim / 10;
    }

    #banner {
      background-size: cover;
    }
    .compat-mockWrapper {
      max-width: 250px;
      position: relative;
      left: $pageDim * 1/2;
      top: 120px;
    }
    .compat-imgFeatWrapper {
      max-width: 150px;
    }

  }

  @media (min-width: 3 * $pageDim) {

    .compat-container {
       width: 3 * $pageDim;
    }
    .compat-page {
      width: $pageDim;
      float: left;
    }
    .compat-feature {
      width: 28/30 * $pageDim;
    }
    .compat-feature:first-child,.compat-feature:nth-child(2),.compat-feature:nth-child(4),.compat-feature:nth-child(5) {
      margin-right: $pageDim / 10;
    }
    .compat-mockWrapper {
      max-width: 250px;
      top: 120px;
      left: 0px;
    }
  }

  @media (min-width: 4 * $pageDim) {
    .compat-container {
       width: 4 * $pageDim;
    }
    .compat-page {
      width: 4/3 * $pageDim;
    }
    .compat-feature {
      width: 18/15 * $pageDim;
    }
    .compat-feature:first-child,.compat-feature:nth-child(2),.compat-feature:nth-child(4),.compat-feature:nth-child(5) {
      margin-right: $pageDim / 5;
    }
  }
}





